@import "bourbon";
@import "_vars";
@import "_mixin";
@import "_setings";

footer {
  padding-top: 77px;
  background-color: $text-color;
  padding-bottom: 42px;
}
footer .container {
  @extend %flex;
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 1px solid #474747;
}
.container .left-block {
  width: 433px;
  text-align: left;
  p {
    padding-bottom: 44px;
    color: #999;
    font-size: rem(14);
    line-height: 24px;
  }
}
.bottom-logo {
  display: block;
  padding-bottom: 38px;
  font-family: "SourceSansProBold", sans-serif;
  font-size: rem(22);
  font-weight: 700;
  text-transform: uppercase;
  color: #eee;
}

form input {
  margin-right: 61px;
  &:nth-child(2) {
    margin-right: 0;
  }
}
form input, form textarea {
  padding-bottom: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #999;
  font-size: rem(14);
  border-bottom: 1px solid #474747;

}
input::placeholder {
  text-transform: uppercase;
  color: #999;
}
form textarea {
  width: 100%;
  height: 20px;
  margin-top: 22px;
  resize: none;
  font-family: "SourceSansProRegular", sans-serif;
}
textarea::placeholder {
  text-transform: uppercase;
}
input[type="submit"] {
  position: relative;
  width: 55px;
  padding: 0;
  margin: 0;
  margin-top: 92px;
  display: block;
  border: none;
  background: url(../img/footer/arrow-footer.png) no-repeat right center;
  color: #898989;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
  &:focus {
    color: $accent-slider-color;
  }
}
.lists {
  @extend %flex;
  justify-content: space-between;
  margin-right: 100px;
  min-width: 470px;
  text-align: left;
  span {
    display: block;
    padding-bottom: 38px;
    color: #ddd;
    font-family: "SourceSansProSemiBold";
    font-size: rem(15);
    font-weight: 600;
    text-transform: uppercase;
  }
  li {

    a {
      color: #999;
      font-size: rem(14);
      line-height: 24px;
      &:hover {
        color: $accent-slider-color;
        text-decoration: underline;
      }
      &:focus {
        color: #ff7241;
      }
    }
  }
}
.lincs-list, .friends-list, .social-list {
  min-width: 70px;
}
.bottom-line {
  padding-top: 35px;
  @extend %flex;
  justify-content: space-between;
  color: #999;

  p {
    display: inline-block;
    max-width: 435px;
    text-align: left;
    line-height: 24px;
  }
}
.contacts {
  ul {
    li {
      display: inline-block;
      padding-right: 32px;
      &:nth-child(4) {
        padding-right: 0;
      }
      a {
        color: #999;
        font-size: rem(14);
        line-height: 24px;
        text-transform: uppercase;
        &:hover {
          color: $accent-slider-color;
          text-decoration: underline;
        }
        &:focus {
          color: #ff7241;
        }
      }
    }

  }
}
@media only screen and (max-width: 1019px){
  footer .container {
    flex-flow: column wrap;
    align-items: center;
  }
  .lists {
    margin-top: 50px;
    margin-right: 0;
  }
}
@media only screen and (max-width: 775px){
  .bottom-line {
    .trademark {
      margin-left: auto;
      order: 2;
      text-align: right;
    }
    .contacts {
      padding-bottom: 25px;
      order: 1;
    }
  }
}
@media only screen and (max-width: 490px){
  form input {
    margin-right: 62px;
    margin-bottom: 22px;
  }
  form textarea {
    margin-top: 0;
    width: 80%;
  }
  .lists {
    justify-content: center;
    min-width: 400px;
  }
  .lincs-list, .friends-list, .social-list {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 350px) {
  form textarea {
    width: 70%;
  }
  .lists {
    justify-content: flex-start;
  }
  .contacts {
    ul {
      li {
        padding-right: 15px;
      }
    }
  }
}
