@import "bourbon";
@import "_vars";
@import "_mixin";
@import "_setings";

.section-4 {
  background-color: $s4-bg;
  padding-bottom: 110px;
}
.section-4 .slider-wrapp {
  height: 104px;
}
.section-4__slider {
  margin: 0 auto;
  padding-top: 0;
  max-width: 867px;
}
 .section-4__slider .slick-slide {
   img {
     margin: 0 auto;
   }
}
.section-4 .slick-next, .section-4 .slick-prev {
  top: 35%;
}

@media only screen and (max-width: 760px){

  .section-4__slider .slick-slide{
    img {
      margin: 0 auto;
    }
  }
}